<div class="container">
    <ng-container *ngIf="mostrar">
        <div class="col-md-offset-5" style="padding-top: 3%;">
            <div class="alert alert-success font-weight-bold">
                <mat-chip-list aria-label="Color selection">
                    <mat-chip *ngFor="let bolas of primerSorteoBolas" selected [color]='bolas.color'>

                        {{bolas.numero}}

                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <ng-container *ngFor="let item of primerSorteoBolas">
                <div class="alert alert-info font-weight-bold">
                    <b> BOLA {{item.numero}} </b>
                </div>
                <br>
                <br>
                <br>
                <div class="col-md-3 col-md-offset-5" style="padding-top: 2%; padding-bottom: 2%; padding-left: 10% ;">
                    <mat-chip-list *ngIf="item.bolas.length != 0" aria-label="Color selection">
                        <mat-chip *ngFor="let bolas of item.bolas" selected>
                            {{bolas}}

                        </mat-chip>
                    </mat-chip-list>
                </div>
                <br>
                <br>
                <br>
            </ng-container>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

    </ng-container>
    <div style="padding-top: 5%; padding-bottom: 5%; padding-left: 45%;">
        <button class="btn btn-primary" (click)="sortear()">SORTEAR</button>
    </div>
</div>